<%= form_for(:user, url: sessions_path, html: { id: "login-form" }) do |f| %>

  <h1 class="text-center">
    Login
  </h1>

  <br>

  <div class="form-group text-center">
    <h4> <%= f.label :email %> </h4>
    <%= f.text_field :email, id: "username_title_field", class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <h4> <%= f.label :password %> </h4>
    <%= f.password_field :password, id: "password_title_field", class: 'form-control' %>
  </div>

  <%= f.submit 'Login', class: "btn btn-success btn-lg" %>
  <% end %>
  <%= link_to ('Reset Password'), new_password_reset_path, class: "btn btn-success btn-lg" %>
<!-- <div class="sessions">

  <%= form_tag sessions_path do %>
    <h1 class="text-center">
      Login
    </h1>

    <div class="form-group">
      <h4> <%= label_tag :email %> </h4>
      <%= text_field_tag :email, params[:email], required: true, id: "email_title_field", class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4> <%= label_tag :password %> </h4>
      <%= password_field_tag :password, required: true, id: "password_field", class: 'form-control' %>
    </div>

    <div class="form-group text-center">
      <%= submit_tag "Login", class: "btn btn-success btn-lg" %>
    </div>

  <% end %> -->
