<div class="flex-child comment" data-id="<%=comment.id%>">
  <% if comment.image? %>
    <%= image_tag comment.image, class: "img-settings img-responsive center-block" %>
  <% end %>

  <h5><%= comment.body %></h5>

  <div class="control-panel">
    <% if comment.user == current_user || current_user&.admin? || current_user&.moderator? %>
      <%= link_to ("Edit"), edit_topic_post_comment_path(post.topic, post, comment), remote: true, class: "btn btn-warning" %>
      <%= link_to ("Delete"), topic_post_comment_path(post.topic, post, comment), remote: true, method: :delete, data: { confirm: "Delete?" }, :class => "btn btn-warning" %>
    <% end %>
  </div>

  <div class="vote-buttons">
    Score: <%= comment.total_votes %>
    Date: <%= comment.created_at.strftime("%B %d, %Y") %>
    User: <%= comment.user.username %>
    <% if comment.user.image? %>
    Userpic: <%= image_tag comment.user.image.url %>
    
    <% end %>

    <%= link_to ("Upvote"), upvote_path({comment_id: comment.id}), method: :post, remote: true, class: "fa fa-thumbs-o-up" %>
    <%= link_to ("Downvote"), downvote_path({comment_id: comment.id}), method: :post, remote: true, class: "fa fa-thumbs-o-down" %>
  </div>
</div>
