<div class="landing">

  <div class="background">
    <div class="content">
      <h1> Ruby SURVIVAL SKILLS 101</h1>
    </div>
  </div>

  <div class="background-2">
    <div class="content">
      <h1> "Never work in silos - always have a buddy" </h1>
    </div>
  </div>

  <h1 class="feature-title text-center">
    <br>
    Features
    <hr class="short-underline">
  </h1>

  <section class="features-container">

  <div class="features text-center">

    <div class="feature">
      <%= fa_icon "coffee 4x", class: 'icon-settings' %>
      <h2>Recharge</h2>
    </div>
    <div class="feature">
      <%= fa_icon "hand-scissors-o 4x", class: 'icon-settings' %>
      <h2>Have fun when bored</h2>
    </div>
    <div class="feature">
      <%= fa_icon "map-o 4x", class: 'icon-settings' %>
      <h2>Ruby cheatcodes</h2>
    </div>
    <div class="feature">
      <%= fa_icon "flag-o 4x", class: 'icon-settings' %>
      <h2>If all else fails</h2>
    </div>

  </div>
  </section>

  <div class="photo_row">
    <div class="ind_pics">
      <div class="invisible-layout">
        <div class="words">
          <h3>Find Ruby-ians Around You</h3>
        </div>
      </div>
      <%= image_tag "concert.jpg", class: 'img-responsive'%>
    </div>
    <div class="ind_pics">
      <div class="invisible-layout">
        <div class="words">
          <h3>Food + Drinks</h3>
        </div>
      </div>
      <%= image_tag "strawberries.jpg", class: 'img-responsive' %>
    </div>
    <div class="ind_pics">
      <div class="invisible-layout">
        <div class="words">
          <h3>Staying Calm</h3>
        </div>
      </div>
      <%= image_tag "seaside.jpg", class: 'img-responsive' %>
    </div>
    <div class="ind_pics">
      <div class="invisible-layout">
        <div class="words">
          <h3>Travel destinations</h3>
        </div>
      </div>
      <%= image_tag "bridge.jpg", class: 'img-responsive' %>
    </div>
  </div>

  <div class="contact_information text-center">
    <div class="information">
      <br>
      <h1> Enquiries <h1>
        <hr class="short-underline">
        <br>
        <h3> If you are unsatisfied or still feeling stressed, please feel free to contact us by way of the following means. The team at 'OMG Ruby!!' is always open to suggestions and working around the clock to continuously improve this site to make the Ruby coders a happier population. <h3>
    </div>
  </div>

  <div class="features2_bigicons text-center">
  <br>
      <div class="feature2_indicons">
        <%= fa_icon "envelope 3x" %>
        <h4>safeme@magic.com</h4>
      </div>
      <div class="feature2_indicons">
        <%= fa_icon "phone-square 3x" %>
        <h4>+603-576 9014</h4>
      </div>
  </div>
</div>
