<div class="users">

  <%= form_for(@user, html: { id: "register-form" }) do |f| %>

    <h1 class="text-center">
      Register New User
    </h1>

<br>

    <div class="form-group text-center">
      <h4> <%= f.label :username %> </h4>
      <%= f.text_field :username, required: true, id: "username_title_field", class: 'form-control' %>
    </div>

    <div class="form-group text-center">
      <h4> <%= f.label :email %> </h4>
      <%= f.text_field :email, required: true, id: "email_title_field", class: 'form-control' %>
    </div>

    <div class="form-group text-center">
      <h4> <%= f.label :password %> </h4>
      <%= f.password_field :password, required: true, id: "password_title_field", class: 'form-control' %>
    </div>

    <div class="form-group text-center">
      <h4> <%= f.label :password_confirmation %> </h4>
      <%= f.password_field :password_confirmation, required: true, id: "password_title_field", class: 'form-control' %>
    </div>

    <div class="form-group">
        <h4 class="text-center"> Post Image </h4>
        <div id="preview-image">
          <% if @user.image? %>
            <%= image_tag @user.image, class: "img-settings img-responsive center-block" %>
          <% end %>
        </div>
      </div>

    <div class="form-group text-center">
      <%= f.file_field :image, id: "post_image_field", class: 'form-control image-uploader' %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "Register", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

</div>
