<div class="posts">

  <div class="background_posts">
    <h1><%="#{@topic.title}"%></h1>
  </div>

  <div class="background2_posts">
    <div style="padding:15px">

      <div class="flex-parent text-center">
        <div id="posts">
        <% @posts.each do |post| %>
          <%= render partial: "posts", locals: { post: post, topic: @topic } %>
        <% end %>
        </div>
      </div>

    </div>
  </div>

    <!-- <div style="padding-bottom:15px">
      <div class="new_post_button">
        <%= link_to ("Add New Post"), new_topic_post_path, :class => "btn btn-warning" %>
      </div>
    </div> -->
  <div id="posts-form-container">
    <%= render partial: "create_form", locals: { post: @post, topic: @topic } %>
  </div>

  <%= paginate @posts %> 
</div>
