<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if current_user && (current_user.admin? || current_user.moderator?) %>
    <meta name="wizardwonka">
  <% end %>

  <title>OMG Ruby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <%= render partial: 'partials/header' %>
  </div>
  <div id="flash-messages-container">
    <%= render partial: "partials/flash_messages" %>
  </div>

<%= yield %>

</body>
</html>
